<!DOCTYPE html><html lang="en"><head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'path_finding_algorithms/css/style.css' %}">
    <meta charset="utf-8">

  </head>
  <body>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/drawMap.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/adjacency.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/dfs.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/bfs.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/priority_queue.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/dijkstra.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/astar.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/fileio.js' %}"></script>
    {% load static %}
    <script src="{% static 'path_finding_algorithms/scripts/sketch.js' %}"></script>

</body></html>