asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
Deprecated==1.2.13
Django==4.0.3
djangorestframework==3.13.1
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
importlib-metadata==4.11.2
Markdown==3.3.6
Pillow==9.0.1
psycopg2-binary==2.9.3
pycparser==2.21
PyGithub==1.55
PyJWT==2.3.0
PyNaCl==1.5.0
pytz==2021.3
requests==2.27.1
smmap==5.0.0
sqlparse==0.4.2
urllib3==1.26.8
whitenoise==6.0.0
wrapt==1.13.3
zipp==3.14.0
