th {
    font-weight: normal;
}

.cv-left-column {
    width:25%;
    vertical-align: text-top;
}

.cv-left-column-unit {
    margin: 0px 0px 0px 0px;
    padding: 2.5% 5% 2.5% 5%;
}

.heading {
    font-weight: bold;
}

.resume {
    margin: 4% 4% 4% 4%;
    outline: 2px solid black;
}

.resume-heading {
    font-size: 18px;
}

.cv-right-column {
    width:75%;
    vertical-align: text-top;
}

cv-right-column-unit {
    margin: 0px 0px 0px 0px;
    padding: 2.5% 5% 2.5% 10%;
}

.r-col-heading {
    font-size: 24px;
}

.edu-heading {
    font-weight: bold;
}