.cv-main-table {
    --size: 5%;
    margin: var(--size) var(--size) var(--size) var(--size);
}


#user-picture {
    text-align: center;
}

#user-picture-img {

    --size: 50%;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
}

#user-name {

}

#user-name-h1 {
    position: relative;
    left: 7%;
    font-size: 400%;
}


#resume {
   border: 2px solid;
}
