<div>
    <p class="r-col-heading cv-right-column-unit">
        EDUCATION
    </p>

    {% for education in cv.educations.all %}
        <p class="cv-right-column-unit">
            {{ education.authority }} - {{ education.title }} (GPA: {{ education.gpa }})
        </p>

        <p class="cv-right-column-unit">
            {{ education.get_time_frame }}
        </p>

        <p class="edu-heading cv-right-column-unit">
            Projects:
        </p>

        {% for project in education.projects.all %}
            <li class="cv-right-column-unit">{{ project.title }}</li>
        {% endfor %}

        <p class="edu-heading cv-right-column-unit">
            Relevant Courses:
        </p>

        {% for course in education.courses.all %}
            <li class="cv-right-column-unit">{{ course }}</li>
        {% endfor %}

    {% endfor %}

</div>