<!doctype html>
<html lang="en">
    <head>
        {% include 'cv/head.html' %}
        <title>Curriculum vitae</title>
    </head>
    <body>
        <table >
            <tr>
                <th class="cv-left-column">
                    {% include 'cv/user_picture.html' %}
                </th>
                <th class="cv-right-column">
                    {% include 'cv/user_name.html' %}
                </th>
            </tr>
            <tr>
                <th class="cv-left-column">
                    {% include 'cv/resume.html' %}
                    {% include 'cv/technical_skills.html' %}
                    {% include 'cv/languages.html' %}
                    {% include 'cv/hobbies.html' %}
                </th>
                <th class="cv-right-column">
                    {% include 'cv/education.html' %}
                    {% include 'cv/experience.html' %}
                </th>
            </tr>
        </table>

        {% include 'cv/body.html' %}
    </body>
</html>