<!doctype html>
<html lang="en">
<head>
    {% include 'cv/head.html' %}
</head>
<body>
    {% if experiences %}
        <ul>
            {% for experience in experiences %}
                <p class="experience-auth-title">{{ experience }}</p>
                <p>{{ experience.get_time_frame }}</p>
                {% for description in descriptions %}
                    {% if description.experience == experience %}
                        <li>{{ description }}</li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>