<div class="resume">
    <p class="resume-heading">
        Cooperative Computer Science Student:
    </p>
    <li class="resume-li">
        <ul class="resume-ul" style="list-style: none;">
            I have a good understanding of developing, optimizing, and testing algorithms and
            data structures using C++ (~3 years of experience in team and solo competitive
            programming).
        </ul>
        <ul class="resume-ul">
            I work well in a team environment, I have good communication, active listening,
            and problem-solving skills (~5 years of experience with programming in teams
            from robotics and programming competitions, and project work at Roskilde University).
        </ul>
    </li>
</div>