<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        {% include 'main/head.html' %}
    </head>
    <body>
        <div class="wrapper">
            {% include 'main/navbar.html' %}
            <div style="clear:both"></div>
            <hr>
            <div class="container content contact">
                <ul>
                    <li>
                        <p>
                            Email: 
                            <a href="mailto:{{ user.email }}">
                                <span>
                                    {{ user.email }}
                                </span>
                            </a>
                        </p>
                    </li>
                </ul>
            
                <hr>
                <h2 id="social">
                    Social
                </h2>
                <ol>
                {% for social in user.socials.all %}
                    <li><a href="{{ social.url }}">{{ social.title }}</a></li>
                {% endfor %}
                </ol>
                <hr>
                {% include 'main/footer.html' %}
            </div>
        </div>
    </body>
</html>