<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Me</title>
    {% include 'main/head.html' %}
</head>
<body>
    <div class="wrapper">
        {% include 'main/navbar.html' %}
        <div class="container content">
            <h2 id="about-me">
                About Me
            </h2>
            <p>
                <img class="profile-picture" src="{{user.picture.url }}" alt="{{ user.picture.alt }}"/>
            </p>
            <p>
                {{ user.get_about_me | safe}}
            </p>
            {% for project in projects %}
                <h2>
                    {{ project }}
                </h2>
                <p>
                    {{ project.description | safe}}
                </p>
            {% endfor %}
            {% include 'main/footer.html' %}
        </div>
    </div>
</body>
